{% extends headerLayout %}

{% block head %}

	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			
			<title>Document</title>
			<link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/theme/slick-theme.css"/>
			<link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick.css"/>
			<link href="templates/styles/accueilDeux.css" rel="stylesheet">
			<link rel="stylesheet" href="public/fontawesome/css/all.css">
			<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js' defer></script>
			<script type="text/javascript" src="slick-1.8.1/slick/slick.min.js" defer></script>
			<script type="text/javascript" src="public/js/slider.js" defer></script>
			{{ parent() }}

		</head>
	{% endblock  %}
	{% block menu %}
			{{ parent() }}
	{% endblock %}
	{% block content %}
    <header>
        
        <div class="header-container-img">
            <img class="header-img-bg" src="headerAutomne.png">
            <div class="header-page-container">
                <img class="header-page" src="headerPage.png"/>
            </div>
            <div class="header-info">
                <h1>Autumn Cup</h1>
                <h2>GAGNE LA COMPETITION</h2>
                <a class="header-btn-info" href="#">Plus d'infos</a>
            </div>
        </div>
    </header>
    <main>
        <section class="favoris"> 
            <h3 class="subtitle-favoris"> Favoris </h3>
            <div class="container-img-favoris">
                <img src="images/accueil/jojo.jpg" />
                <img src="images/accueil/My_Hero_Academia.jpg" />
                <img src="images/accueil/one-piece-82-glenat.jpg" />
            </div>
        </section>
        <div class="next-section"></div>
        <section>
            <h3 class="subtitle-weekly">SORTIE DE LA SEMAINE</h3>
        </section>
    </main>

</body></html>{% endblock %}
