{% extends headerLayout %}

{% block head %}

	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			
			<title>Document</title>
			<link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/theme/slick-theme.css"/>
			<link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick.css"/>
			<link href="templates/styles/popup.css" rel="stylesheet">
			<link rel="stylesheet" href="public/fontawesome/css/all.css">
			<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js' defer></script>
			<script type="text/javascript" src="slick-1.8.1/slick/slick.min.js" defer></script>
			<script type="text/javascript" src="public/js/sliderdeux.js" defer></script>
            <script type="text/javascript" src="public/js/test.js" defer></script>
			{{ parent() }}

		</head>
	{% endblock  %}
	{% block nav %}
    
			{{ parent() }}
	{% endblock %}
	{% block content %}
    
    <header>
        <div class="header-container-img">
            <img class="header-img-bg" src="headerAutomne.png">
            <div class="header-page-container">
                <img class="header-page" src="headerPage.png"/>
            </div>
            <div class="header-info">
                <h1>Autumn Cup</h1>
                <h2>GAGNE LA COMPETITION</h2>
                <a class="header-btn-info" href="#">Plus d'infos</a>
            </div>
        </div>
    </header>
     <div class="site-cache">
   
    <main>
        <section class="favoris"> 
            
            <h3 class="subtitle-favoris"> Favoris </h3>
            <div class="container-img-favoris">
                <img src="images/accueil/jojo.jpg" />
                <img src="images/accueil/My_Hero_Academia.jpg" />
                <img src="images/accueil/one-piece-82-glenat.jpg" />
            </div>
        </section>
        <div class="next-section"></div>
        <section>
            <h3 class="subtitle-weekly">SORTIE DE LA SEMAINE</h3>
            <div class="mangas-weekly-container">
                <div class="mangas-weekly-listitems">
                    <div class="manga-weekly-item">
                        <img src="images/accueil/dbz.jpg" />
                        <div class="info-weekly-manga">
                            <h4 class="manga-weekly-item-title">Boruto</h4>
                            <h4 class="manga-weekly-item-auteur">Takeshi Takeda</h4>
                            <p class="manga-weekly-item-description">Boruto est le fils aîné de Naruto et d'Hinata. Il est également le grand frère d'Himawari, qu'il adore. Il fait équipe avec Sarada et Mitsuki. Son professeur est Konohamaru.</p>
                            <a class="manga-weekly-item-btn" href="#"> NEW CHAPITRE 6  </a>
                        </div>
                    </div>
                    <div class="manga-weekly-item">
                        <img src="images/accueil/My_Hero_Academia.jpg" />
                        <div class="info-weekly-manga">
                            <h4 class="manga-weekly-item-title">My hero Academia</h4>
                            <h4 class="manga-weekly-item-auteur">Takeshi Takeda</h4>
                            <p class="manga-weekly-item-description">Boruto est le fils aîné de Naruto et d'Hinata. Il est également le grand frère d'Himawari, qu'il adore. Il fait équipe avec Sarada et Mitsuki. Son professeur est Konohamaru.</p>
                            <a class="manga-weekly-item-btn" href="#"> NEW CHAPITRE 6  </a>
                        </div>
                    </div><div class="manga-weekly-item">
                        <img src="images/accueil/meckaz-3.jpg" />
                        <div class="info-weekly-manga">
                            <h4 class="manga-weekly-item-title">Boruto</h4>
                            <h4 class="manga-weekly-item-auteur">Takeshi Takeda</h4>
                            <p class="manga-weekly-item-description">Boruto est le fils aîné de Naruto et d'Hinata. Il est également le grand frère d'Himawari, qu'il adore. Il fait équipe avec Sarada et Mitsuki. Son professeur est Konohamaru.</p>
                            <a class="manga-weekly-item-btn" href="#"> NEW CHAPITRE 6  </a>
                        </div>
                    </div><div class="manga-weekly-item">
                        <img src="images/accueil/My_Hero_Academia.jpg" />
                        <div class="info-weekly-manga">
                            <h4 class="manga-weekly-item-title">Boruto</h4>
                            <h4 class="manga-weekly-item-auteur">Takeshi Takeda</h4>
                            <p class="manga-weekly-item-description">Boruto est le fils aîné de Naruto et d'Hinata. Il est également le grand frère d'Himawari, qu'il adore. Il fait équipe avec Sarada et Mitsuki. Son professeur est Konohamaru.</p>
                            <a class="manga-weekly-item-btn" href="#"> NEW CHAPITRE 6  </a>
                        </div>
                    </div><div class="manga-weekly-item">
                        <img src="images/accueil/dbz.jpg" />
                        <div class="info-weekly-manga">
                            <h4 class="manga-weekly-item-title">Boruto</h4>
                            <h4 class="manga-weekly-item-auteur">Takeshi Takeda</h4>
                            <p class="manga-weekly-item-description">Boruto est le fils aîné de Naruto et d'Hinata. Il est également le grand frère d'Himawari, qu'il adore. Il fait équipe avec Sarada et Mitsuki. Son professeur est Konohamaru.</p>
                            <a class="manga-weekly-item-btn" href="#"> NEW CHAPITRE 6  </a>
                        </div>
                    </div><div class="manga-weekly-item">
                        <img src="images/accueil/dbz.jpg" />
                        <div class="info-weekly-manga">
                            <h4 class="manga-weekly-item-title">Boruto</h4>
                            <h4 class="manga-weekly-item-auteur">Takeshi Takeda</h4>
                            <p class="manga-weekly-item-description">Boruto est le fils aîné de Naruto et d'Hinata. Il est également le grand frère d'Himawari, qu'il adore. Il fait équipe avec Sarada et Mitsuki. Son professeur est Konohamaru.</p>
                            <a class="manga-weekly-item-btn" href="#"> NEW CHAPITRE 6  </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="next-section"></div>
        <section>
            <h3 class="subtitle-catalogue">SORTIE DE LA SEMAINE</h3>
            <div class="catalogue-container">
              <!--  <img class="catalogue" src="catalogue.png" /> -->
                <img class="locked" src="lockin.png" />
                <a class="btn-subscribe" href="#" >S'abonner </a>
            </div>
        </section>
        <div class="next-section"></div>
        <section>
              <h3 class="subtitle-event"> Nos Programmes </h3>
              <div class="event-container">
                  <div class="event-img-container">
                    <img src="programmeUn.png" class="event-img"/>
                  </div>
                  <div class="event-img-container">
                    <img src="programmeDeux.png" class="event-img"/>
                  </div>
                  <div class="event-img-container">
                    <img src="programmeTrois.png" class="event-img"/>
                  </div>
              </div>
        </section>
        <section>
            <h3 class="subtitle-competition">COMPETITION</h3>
             <h3 class="subtitle-event"> Nos Programmes </h3>
             <div class="programme-manga-container">
                <div class="programme-manga-listitem">
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/dbz.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/Berserk.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/jojo.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/jojo2.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/meckaz-3.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/manga1.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/My_Hero_Academia.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/narutoship.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/naruto.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/one-piece-82-glenat.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/Tokyo_Ghoul.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/dbz.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/Berserk.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/jojo.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/jojo2.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/meckaz-3.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/manga1.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/My_Hero_Academia.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/narutoship.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/naruto.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/one-piece-82-glenat.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/Tokyo_Ghoul.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/dbz.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/Berserk.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/jojo.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/jojo2.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/meckaz-3.jpg" />
                    </div>
                    <div class="programme-manga-item">
                        <img class="programme-manga-img" src="images/accueil/manga1.jpg" />
                    </div>

                </div>
             </div>
        </section>
    </main>
    </div>


</body></html>{% endblock %}
