@font-face {
    font-family: "MontserratLight";
    src: url('/public/Montserrat/Montserrat-Light.ttf');
  }

  @font-face {
    font-family: "Montserrat";
    src: url('/public/Montserrat/Montserrat-Medium.ttf');
  }

  @font-face {
    font-family: "MontserratSemiBold";
    src: url('/public/Montserrat/Montserrat-SemiBold.ttf');
  }

  @font-face {
    font-family: "MontserratBold";
    src: url('/public/Montserrat/Montserrat-Bold.ttf');
  }

  @font-face {
    font-family: "Montserrat";
    src: url('/public/Montserrat/Montserrat-Light.ttf');
  }

body {
   background-color:  #111017;
}

/*  HEADER */
.site-cache{
    filter:brightness(20%);

}

header {
    height: 615px;
    width: 100%;
    filter:brightness(20%);
}

.header-container-img {
    /* height: 100%; */
    width: 100%;
    height: 615px;
}

.header-container-img .header-img-bg {
    /* height: 100%; */
    width: 100%;
    height: 615px;
}

.header-info {
    z-index: 2;
    position: absolute;
    top: 20%;
    right: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-info h2 {
    font-family: "MontserratSemiBold";
    font-size: 2.2vw;
    color: #FFFFFF;
    order:-1;
}

.header-info h1 {
    font-family: "MontserratSemiBold";
    font-size: 5.1vw;
    color: #FCDA19;
    
}

.header-info a {
    font-family: "MontserratSemiBold";
    font-size: 19px;
    color: #343434;
    background-color: #FCDA19;
    border-radius: 19px;
    padding: 15px;
    margin-top: 13%;
}

.header-page-container{
    z-index: 2;
    position: absolute;
    top: 8%;
    left: 18.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-page-container img {}

@media screen and (max-width: 1100px) {
    .header-page-container{
        left: 8%;
    }

    .header-info {
        right: 3%;
    }

   
}

@media screen and (max-width: 680px) {
    .header-page-container{
        display: none;
    }

    .header-info {
        right: 11%;
        left: 11%;
        top:33%;
        text-align: center;
    }

    .header-info h2 {
        top:10%;
        font-size: 5.5vw;
    }

    .header-info h1 {
        font-size: 8.8vw;
    }
}


/* FAVORIS SECTION */

.favoris{
    height: auto
}

.subtitle-favoris {
    color: #FFF;
    font-family: "MontserratSemiBold";
    font-size: 19px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    margin-top: 2%;
    margin-bottom: 1.5%;
    align-items: center;

}

.container-img-favoris{
    display: flex;
    padding:8px;
    margin-bottom: 2px;
    flex-wrap: wrap;
    margin-left:7%;
}

.container-img-favoris img {
    height: 246px;
    width: 158px ;
    margin-left: 2%;
    margin-top: 2%;
}

/* SECTION LIGNE */

.next-section {
    width: 90%;
    background-color: #707070;
    height: 2px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

/* WEEKLY SECTION */

.subtitle-weekly{
    display: flex;
    align-items: center;
    margin-top: 1.2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #BE1522;
    height: 46px;
    color:#FFF;
    font-family: "MontserratBold";
    font-size: 27px;
    border: black solid 1px;
    padding-left: 12px;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

.mangas-weekly-container {
    margin-top: 4%;
    width: 100%;
    
}

.mangas-weekly-listitems{
    margin-left: 4%;
    margin-right: 8%;
    
}

.manga-weekly-item {
    width :520px;
    height: 267px;
    background: #26252E;
    border-radius: 15px;
    margin-left: 0.7%;
    display: flex!important;
    

}

.manga-weekly-item img {
    width:158px;
    height:246px;
    padding-top: 15px;
    padding-left: 15px; 
}

.info-weekly-manga {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.manga-weekly-item .manga-weekly-item-title {
    padding-top:25px;
    padding-left:25px;
    font-family: "MontserratSemiBold";
    font-size:19px
}

.manga-weekly-item .manga-weekly-item-auteur {
    padding-top:10px;
    padding-left:25px;
    font-family: "Montserrat";
    font-size:13px
}

.manga-weekly-item .manga-weekly-item-description {
    padding-top:16px;
    padding-left:25px;
    font-family: "Montserrat";
    font-size:12px;
    width:80%;
}

.manga-weekly-item .manga-weekly-item-btn {
    margin-top:10%;
    margin-left:46%;
    font-family: "MontserratBold";
    font-size:13px;
    background-color: #BE1522;
    margin-right:6%;
    text-align: center;
    padding:7px;
}

/* Catalogue Section */

.subtitle-catalogue{
    display: flex;
    align-items: center;
    margin-top: 1.2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCDA19;
    height: 46px;
    color:#040404;
    font-family: "MontserratBold";
    font-size: 27px;
    border: black solid 1px;
    padding-left: 12px;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

.catalogue-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../catalogue.png');
    background-position:center center;
    background-size: cover;
    height: 392px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-image 0.3s ease;
}




.catalogue-container .locked {
    display: flex;
    justify-content: center;
    opacity: 1;
}

.catalogue-container .btn-subscribe {
    font-family: "MontserratSemiBold";
    font-size:19px;
    padding:10px;
    border-radius: 16px;
    background-color: #FCDA19;
    margin-top: 2%;
}


/* Nos programmes  SECTION*/

.subtitle-event {
    color: #FFF;
    font-family: "MontserratSemiBold";
    font-size: 19px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    margin-top: 2%;
    margin-bottom: 1.5%;
    align-items: center;
}

.event-container{
    padding-left: 3.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.event-img-container {
    margin-left:1% ;
    display: flex;
}

.event-img{
    margin-left:3% ;
    display: flex;
}

@media screen and (max-width: 880px) {
    .event-container{
        padding-left: 3.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
}


/* NOS PROGRAMMES SECTION */

.event-img-container {
    margin-top: 1%;
}

.subtitle-event {
   display: flex;
   justify-content: center;
    
}

}

.subtitle-competition{
    display: flex;
    align-items: center;
    margin-top: 6%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #19F4FC;
    height: 46px;
    color:#040404;
    font-family: "MontserratBold";
    font-size: 27px;
    border: black solid 1px;
    padding-left: 12px;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

.programme-manga-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.programme-manga-listitem {
    margin-top: 2.2%;
    margin-left:5% ;
    display: flex;
    flex-wrap: wrap;
    
}

.programme-manga-item{
    min-width:158px; 
    max-width: 158px;
    height:246px;
    margin-left: 2%;
    margin-top: 6%;
    
}

.programme-manga-img{
    height: 100%;
    width: 100%; 
}


@media screen and (max-width: 950px) {
    .programme-manga-container {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .programme-manga-listitem {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}
